*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "OstrichSans";
  src: url(/fonts/ostrich_sans/OstrichSans-Bold.otf);
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  position: relative;
  background-color: #2a323a;
  padding: 0 5.5% 120px;
}
.header .tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.header .tagline > div {
  display: inline-block;
  text-align: center;
}

.header-nav {
  position: relative;
  padding: 1rem 0 2rem;
}

h1.brand-name {
  color: #f39c12;
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list .nav-list__item:nth-child(1) {
  margin-right: 2rem;
}
.nav-list .nav-list__item:nth-child(2) {
  margin-right: 250px;
}
.nav-list .nav-list__item:nth-child(3) {
  margin-left: 250px;
  margin-right: 2rem;
}
.nav-list .nav-list__item > a {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.8;
  text-decoration: none;
}
.nav-list .nav-list__item > a:hover {
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

.corner {
  border-bottom: 1px solid transparent;
  width: 110%;
  height: 130px;
  position: absolute;
  bottom: -55px;
  right: -8px;
  z-index: 2;
  background: #fff;
  transform: rotate(-3deg);
}

.transform {
  transform: rotate(180deg);
}

.ostrich-font {
  font-size: 4rem;
  font-family: "OstrichSans", sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.ostrich-font.mini {
  font-size: 2rem;
}

.anton-font {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.anton-font.big {
  font-size: 3.5rem;
}

.sansita-font {
  display: flex;
  align-items: center;
  font-family: "Sansita Swashed", cursive;
  font-size: 2rem;
}
.sansita-font .double-line > img {
  height: auto;
  padding: 0 10px;
}

.cairo-font {
  font-size: 4.5rem;
  font-family: "Cairo", sans-serif;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1;
}

.closed {
  display: none;
}